<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogLevel="Warn"
	  internalLogFile="logs/nlog-internal.log">

	<targets>
		<target name="file" xsi:type="File"
			    fileName="logs/${shortdate}.log"
		        archiveFileName="logs/archive/${shortdate}_{###}.log"
		        archiveEvery="Day"
		        archiveNumbering="Rolling"
		        maxArchiveFiles="30"
		        concurrentWrites="true"
		        keepFileOpen="false"
		        encoding="utf-8"
		        layout="${longdate} [${level:uppercase=true}] [${logger}] ${message} ${exception:format=ToString,StackTrace}"/>
		<target name="console" xsi:type="Console" layout="${longdate} [${level:uppercase=true}] ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file,console" />
	</rules>
</nlog>